<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hi</title>
  </head>
  <body>
    <p>user: {{usr}}</p>
    <p><a href="./signup.html">Sign up!</a></p>
    <p><a href="./signin.html">Sign in!</a></p>
    <form action="./sign_out" method="POST">
      <input type="submit" value="Sign out!" />
    </form>
    <p style="color: red">{{err_msg}}</p>
  </body>
</html>
